# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Credenciais locais de build
*.env
*.keystore
*.jks
android/key.properties


# Firebase local configuration
lib/firebase_options.dart
android/app/google-services.json